<h1>Apresente-se:</h1>
<main>
    <form action="http://localhost:8080/user/criarUser" method="POST">
        <inputs name="name" placeholder="Nome completo" tipo="text"></inputs>
        <inputs name="email" placeholder="E-mail" tipo="email"></inputs>
        <inputs name="cor" placeholder="Cor favorita" tipo="text"></inputs>
        <inputs name="num" placeholder="Número da sorte" tipo="number"></inputs>
        <inputs name="animal" placeholder="Animal favorito" tipo="text"></inputs>
        <inputs name="esporte" placeholder="Esporte favorito" tipo="text"></inputs>
        <botao></botao>
    </form>
</main>