button{
    width: 110px;
    height: 45px;
    border-radius: 10px;
    background-color: hsl(0, 100%, 11%);
    color: white;
    border: none;

    margin: 20px;
    font-size: 18px;
}
button:hover{
    background-color: #4b0000;
}